
<div class="flex-container" id="weather">
    Loading....<script>weather()</script>
    </div> 

<div class="flex-container">
    <div class="banner">
        Walt Disney World Attraction Wait Times 
    </div>
</div>
    <div class="flex-container">
        
            <div class="menu">

        <div class="menuitems">
           <a href="/"> Magic Kingdom </a>
        </div>
        <div class="menuitems">
            <a href="/epcot">EPCOT</a>
        </div>
        <div class="menuitems">
          <a href="/hs">Hollywood Studios</a>  
        </div>
        <div class="menuitems">
            <a href="ak">Animal Kingdom</a>  
        </div>
        </div>
        </div>
  






