<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="themeparks.css">
    <script src="weather.js"></script>
    <script src="themeparks.js"></script>
    <script src="getparkname.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

</head>