
a:link, a:visited {
  background-color: #f44336;
  color: white;


  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    background-color:white;

    align-items: center;     /* center items horizontally, in this case */
    justify-content: center;
  }
  
  .flex-container .box {
    background-color: #f1f1f1;
    width: 300px;
    margin: 10px;
    text-align: left;
    line-height: 7normal;
    font-size: 18px;
  }

  .flex-container .banner {
    background-color: #070000;
    width: 100%;
    height: 30px;
    flex-direction: column;  /* make main axis vertical */
    align-items: center;     /* center items horizontally, in this case */
    justify-content: center;
    flex-flow: row wrap;
    line-height: 7normal;
    font-size: 18px;
    display: flex;
    color: white;

  }

  .flex-container .menu {
    background-color: #f44336;
    display: flex;
    width: 100%;
    height: 50px;
    margin: 10px;
    justify-content: space-between;
    text-align: center;
    flex-flow: row wrap;
    line-height: 7normal;
  
  }

  .flex-container .menuitems {
    display: flex;

    margin: 10px;
    text-align: center;
    line-height: 7normal;
    font-size: 22px;
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
  }


  .flex-container .red {
    background-color: #f1f1f1;
    width: 300px;
    margin: 10px;
    text-align: left;
    line-height: 7normal;
    font-size: 18px;
    color: red;
  }

  .flex-container .weatherBox {
    background-color: white;
     margin: 5px;
    text-align: left;
    line-height: 7normal;
    font-size: 16px;
    color:black;
  }
